name: Build
on:
  push:
    branches:
      - "*"
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.90"
          override: true
          components: rustfmt, llvm-tools-preview
      - name: build
        run: |
          cargo check --no-default-features
          cargo check --all-features
      - name: test
        run: |
          # TODO: switch this to a published version after the next release
          cargo install --git https://github.com/rust-embedded/cargo-binutils/ --rev 7fc23414305df173dc46a5fa4b98ab2bcd3d21e1
          cargo test --all-features
      - name: check formatting
        run: cargo fmt -- --check
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        target:
          - x86_64-pc-windows-gnu
          - x86_64-pc-windows-msvc
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.90"
          override: true
          components: llvm-tools-preview
      - name: test
        run: |
          cargo install cargo-binutils@0.3.6
          # NOTE: only tests default features
          cargo test
  mac:
    runs-on: macos-latest
    strategy:
      matrix:
        target:
          - x86_64-apple-darwin
          - aarch64-apple-darwin
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: "1.90"
          override: true
          components: llvm-tools-preview
      - name: test
        run: |
          cargo install cargo-binutils@0.3.6
          # NOTE: only tests default features
          cargo test
          # we run the nightly test here to distribute CPU time away from the linux runner
          # we only run `profdata` because some ignored tests in `cov` fail
          cargo test --test profdata -- --ignored
